/* Généralités */

	body {
	background-color: rgba(149, 165, 166,0.5);
	margin: 4em;
	color:rgba(127, 140, 141,1.0);
	}

	h1 {
	text-transform: uppercase;
	text-align:center;
	font-weight:bolder;
	margin-bottom:2em;

	}

	input {
	width:90%;
	height:2.3em;
	margin-bottom:1em;
	}

	.btn {
	width:90%;
	margin-bottom:1em;
	}